 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 555px;
  height: 207px;
  margin: 77px auto 0 12px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: -125px 323px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 201px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -119px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 127px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -45px;
  }
}